

extends layout-other-menu.pug
block vars
  - var title = "Data Lama Penyinaran Matahari"
  //- - var stasiuns = stasiuns

block content
  .wrapper
    .inner
      //- h3.major Lorem ipsum dolor
      //- p
      //-   | Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi, id malesuada justo. Maecenas sagittis felis ac sagittis semper. Curabitur purus leo donec vel dolor at arcu tincidunt bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ut aliquet justo. Donec id neque ipsum. Integer eget ultricies odio. Nam vel ex a orci fringilla tincidunt. Aliquam eleifend ligula non velit accumsan cursus. Etiam ut gravida sapien.
      //- p
      //-   | Vestibulum ultrices risus velit, sit amet blandit massa auctor sit amet. Sed eu lectus sem. Phasellus in odio at ipsum porttitor mollis id vel diam. Praesent sit amet posuere risus, eu faucibus lectus. Vivamus ex ligula, tempus pulvinar ipsum in, auctor porta quam. Proin nec commodo, vel scelerisque nisi scelerisque. Suspendisse id quam vel tortor tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. Mauris felis nec felis elementum varius.
      //- h3.major Vitae phasellus
      //- p
      //-   | Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.
      //- section.features
      //-   article
      //-     a.image(href='#')
      //-       img(src='images/pic04.jpg' alt='')
      //-     h3.major Sed feugiat lorem
      //-     p
      //-       | Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.
      //-     a.special(href='#') Learn more
      //-   article
      //-     a.image(href='#')
      //-       img(src='images/pic05.jpg' alt='')
      //-     h3.major Nisl placerat
      //-     p
      //-       | Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.
      //-     a.special(href='#') Learn more


      
      //- (style={'margin-left': '-20%', 'margin-right': '-20%'})
      //- ul
      //-   each val in stasiuns
      //-     li= val.id
      section
        h3.major Table
        h4 Default
        .table-wrapper
          table#pickle.alt
            thead
              tr
                th WMOID
                th Nama Stasiun
                th Tanggal
                th P05_06
                th P06_07
                th P07_08
                th P08_09
                th P09_10
                th P10_11
                th P11_12
                th P12_13
                th P13_14
                th P14_15
                th P15_16
                th P16_17
                th P17_18
                th Lama Penyinaran 06:00 - 18:00 (jam)
                th Lama Penyinaran 08:00 - 16:00 (%)
            tbody
              each stasiun in stasiuns
                tr
                  td WMOID
                  td Nama Stasiun
                  td #{stasiun.tgl}
                  td #{stasiun.p05_06}
                  td #{stasiun.p06_07}
                  td #{stasiun.p07_08}
                  td #{stasiun.p08_09}
                  td #{stasiun.p09_10}
                  td #{stasiun.p10_11}
                  td #{stasiun.p11_12}
                  td #{stasiun.p12_13}
                  td #{stasiun.p13_14}
                  td #{stasiun.p14_15}
                  td #{stasiun.p15_16}
                  td #{stasiun.p16_17}
                  td #{stasiun.p17_18}
                  td #{stasiun.lpm_p06_p18_jam}
                  td #{stasiun.lpm_p08_p16_percent}
              //- else
            //- tfoot
            //-   tr
            //-     td(colspan='2')
            //-     td 100.00        

block js-script
  script(src='http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css')
  script(src='http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
  script.
    $(document).ready(function() {
        $('#pickle').DataTable();
    });