extends layout-new.pug

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    h1.h3.mb-2.text-gray-800 Stasiun Pengamatan BMKG
    //- p.mb-4
    //-   | DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the 
    //-   a(target='_blank' href='https://datatables.net') official DataTables documentation
    //-   | .
    // DataTales Example
    .card.shadow.mb-4
      .card-header.py-3
        h6.m-0.font-weight-bold.text-primary Tabel
      .card-body
        .table-responsive
          table#dataTable.table.table-bordered(width='100%' cellspacing='0')
            thead
              tr
                th Balai
                th WMOID
                th Stasiun
                th Download LPM
                th Download IRM GB
                th Download IRM A
            tbody
              each stasiun in stasiuns
                tr
                  td Balai#{stasiun.region_id}
                  td #{stasiun.wmoid}
                  td #{stasiun.nama_stasiun}
                  td 
                    a(href=`/lpm/${stasiun.id}/download`).btn.btn-primary.btn-sm Download LPM
                  td
                    a(href=`/irm-gb/${stasiun.id}/download`).btn.btn-primary.btn-sm Download IRM GB
                  td
                    a(href=`/irm-a/${stasiun.id}/download`).btn.btn-primary.btn-sm Download IRM A
        
